/* DOM Elements > ... */
main { background-color: #FFFFFF }
/* Features */
    /* Application */
    #application { border-top-style: solid }

    /* Application, Status */
    #application, #status {
        border-color: #CCCCCC;
        border-width: 1px;
        margin: 0 auto;
        padding: 1% 2.5%;
        width: 95%
    }
        /* <h1> */
        #application h1,
        #status h1 { text-transform: uppercase }

        #application > p,
        #status > p { margin-left: 2.5% }

    /* Hero */
    #hero {
        background-image: url(../images/backgrounds/senate.jpg);
        border-bottom: 5px solid #9F00FF;
        box-shadow: inset 0 -100px 50px -50px rgba(0, 0, 0, 0.125), inset 0 0 200px 0 #000000;
        color: #FFFFFF;
        display: table;
        font-size: 25px;
        height: 50%;
        outline: 1px solid #333333;
        text-align: center;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.675);
        width: 100%
    }
        /* ... */
        #hero [role=container] {
            background-color: rgba(0, 0, 0, 0.375);
            display: table-cell;
            vertical-align: middle;
            width: 100%
        }

        #hero [role=header] {
            font-size: 200%;
            font-weight: bold
        }

        #hero [role=subheader] {
            font-size: 150%;
            font-weight: lighter;
            opacity: 0.9
        }

    /* Introduction */
    #introduction { padding: 30px 0 }
        /* Disclaimer */
        #introduction [role=disclaimer] {
            display: block;
            margin-left: 5%;
            margin-top: 1%;
            opacity: 0.9;
            width: 80%
        }

    /* Status */
    #status { border-top-style: solid }
