/* Features */
    /* Form */
    #form {
        background-color: #FFFFFF;
        border-radius: 5px;
        bottom: 0;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .35);
        display: table;
        height: 75%;
        left: 0;
        margin: auto;
        overflow: hidden;
        position: absolute;
        right: 0;
        table-layout: fixed;
        text-align: center;
        top: 0;
        width: 65%
    }
        /* [All] */
        #form * {
            box-sizing: border-box;
            table-layout: inherit;
            text-align: inherit
        }

        /* <div> */
        #form div { display: table-row }
            /* <div> */
            #form div div { display: block }

        /* Informative */
        #form [role=informative] {
            background-color: #7F007F;
            background: linear-gradient(90deg, #7F007F, #6F006F);
            color: #FFFFFF;
            text-align: center
        }
            /* <div> */
            #form [role=informative] div {
                display: table;
                height: 50%;
                overflow: hidden;
                text-shadow: 0 0 3px rgba(0, 0, 0, .5);
                width: 100%
            }
                /* Description */
                #form [role=informative] [role=description] {
                    font-size: 17.5px;
                    vertical-align: top
                }

                /* Description, Title */
                #form [role=informative] [role=description],
                #form [role=informative] [role=title] {
                    display: table-cell;
                    padding: 4% 0
                }

                /* Title */
                #form [role=informative] [role=title] {
                    font-size: 32.5px;
                    vertical-align: bottom
                }

        /* Informative, Interactive */
        #form [role=informative],
        #form [role=interactive] {
            display: table-cell;
            height: 100%
        }

        /* Interactive */
        #form [role=interactive] { vertical-align: top }
            /* <div> */
            #form [role=interactive] div {
                display: table;
                height: 100%;
                width: 100%
            }

            /* Content */
            #form [role=interactive] [role=content] { height: 100% }
                /* <div> */
                #form [role=interactive] [role=content] div {
                    display: table;
                    height: 100%;
                    width: 100%
                }
                    /* Field */
                    #form [role=interactive] [role=content] .field {
                        display: block;
                        height: auto;
                        margin: 25px auto
                    }
                        /* <input> */
                        #form [role=interactive] [role=content] .field input {
                            background-color: #F0F0F0;
                            border: 1px solid #999999;
                            border-radius: 3px;
                            color: #333333;
                            margin: 0 auto;
                            padding: 10px 7.5px;
                            text-align: left;
                            width: 65%
                        }

                        #form [role=interactive] [role=content] .field input[type=submit] {
                            background-color: #7F007F;
                            border: 1px solid rgba(255, 255, 255, 0);
                            border-radius: 20px;
                            bottom: 0;
                            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), inset 0 0 0 0 rgba(0, 0, 0, 0);
                            color: #FFFFFF;
                            text-align: center;
                            padding: 10px 5%;
                            position: relative;
                            width: auto
                        }
                            /* [State] */
                            #form [role=interactive] [role=content] .field input:focus {
                                border-color: #7F007F;
                                outline: none
                            }

                            #form [role=interactive] [role=content] .field input:focus,
                            #form [role=interactive] [role=content] .field input:hover { background-color: #FFFFFF }

                            #form [role=interactive] [role=content] .field input[type=submit]:hover {
                                background-color: #7F007F;
                                border: 1px solid rgba(255, 255, 255, .25);
                                bottom: 2px;
                                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .5), inset 0 0 0 20px rgba(0, 0, 0, .125)
                            }

                        /* <input>, <label> */
                        #form [role=interactive] [role=content] .field input,
                        #form [role=interactive] [role=content] .field label {
                            font-family: sans-serif;
                            font-size: 100%;
                            transition: 100ms linear 0s all
                        }

                        /* <label> */
                        #form [role=interactive] [role=content] .field label {
                            color: #666666;
                            float: left;
                            font-weight: 100;
                            line-height: 1;
                            margin-left: -30%;
                            margin-top: 10px;
                            opacity: .4;
                            pointer-events: none;
                            position: absolute;
                            user-select: none;
                            text-align: left
                        }

                        #form [role=interactive] [role=content] .field input:focus + label {
                            font-size: 65%;
                            margin-left: -32.5%;
                            margin-top: -15px;
                            opacity: 1
                        }

                    /* Delimiter */
                    #form [role=interactive] [role=content] [role=socials] + [role=delimiter] {
                        color: #666666;
                        font-size: 15px;
                        font-weight: 100;
                        margin: 0 auto;
                        margin-bottom: 5%
                    }

                    /* Socials */
                    #form [role=interactive] [role=content] [role=socials] {
                        display: table;
                        height: 30%;
                        margin: 0 auto;
                        width: 75%
                    }
                        /* Social */
                        #form [role=interactive] [role=content] [role=socials] .social {
                            display: table-cell;
                            height: inherit;
                            padding: 0 5%;
                            vertical-align: middle
                        }
                            /* <img> */
                            #form [role=interactive] [role=content] [role=socials] .social img {
                                height: auto;
                                width: 50px
                            }

            /* Content, Header */
            #form [role=interactive] [role=content],
            #form [role=interactive] [role=header] { display: table-row }

            /* Header */
            #form [role=interactive] [role=header] { height: auto }
                /* Toggle */
                #form [role=interactive] [role=header] [role=toggle] {
                    background-color: #CCCCCC;
                    border: none;
                    border-bottom: 5px solid #7F007F;
                    box-shadow: inset 0 0 0 0 transparent;
                    box-sizing: border-box;
                    color: #333333;
                    display: table-cell;
                    font-size: 20px;
                    font-weight: 500;
                    height: 100%;
                    padding: 2.5% 0;
                    transition: 100ms ease-in 0s all;
                    width: 50%
                }

                #form [role=interactive] [role=header] [role=toggle][state=active] {
                    background-color: #F9F9F9;
                    color: #000000
                }
                    /* [State] */
                    #form [role=interactive] [role=header] [role=toggle]:focus { outline: none }
                    #form [role=interactive] [role=header] [role=toggle]:hover { box-shadow: inset 0 2px 0 1px #333333 }
                    #form [role=interactive] [role=header] [role=toggle][state=active]:hover { box-shadow: inset 0 2px 0 1px #7F007F }

    /* Main */
    #main {
        background-color: #F0C0F0;
        height: 100%;
        padding-top: 0
    }
