/* DOM Element */
    /* <input> */
    input[state=invalid] {
        border-color: #F00000
    }

/* Features > Warning */
#warning {
    background-color: rgba(0, 0, 0, .8);
    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 3px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .3);
    box-sizing: border-box;
    color: #FFFFFF;
    left: 0;
    margin-left: -1%;
    margin-top: -15px;
    opacity: 1;
    padding: 1% 2%;
    position: absolute;
    text-shadow: 0 0 2px rgba(0, 0, 0, .5);
    top: 0;
    transition-property: opacity
}

#warning[hidden] {
    display: initial;
    opacity: 0
}
