/** { outline: 1px solid red }*/
/* Features */
    /* Section */
    .section {
        width: 100%
    }

/* Components */
    /* Introduction */
    #introduction { height: 500px }
        /* [All] */
        #introduction * {
            pointer-events: none;
            user-select: none
        }
            /* [Selection] */
            #introduction ::selection { background-color: transparent }

        /* Carousel */
        #introduction [role=carousel] {
            background-color: #303030;
            height: inherit;
            overflow: hidden;
            width: 100%;
            z-index: -1
        }
            /* <img> */
            #introduction [role=carousel] img {
                left: 0;
                height: inherit;
                margin: auto;
                position: absolute;
                right: 0;
                top: 0;
                width: auto
            }

        /* Content */
        #introduction [role=content] {
            display: table;
            height: 500px;
            position: absolute;
            width: 100%;
            z-index: 1
        }
            /* Division */
            #introduction [role=content] [role=division] {
                display: table-row;
                width: 100%
            }
                /* Header */
                #introduction [role=content] [role=header] {
                    font-size: 50px;
                    margin-left: 5%;
                    margin-top: 2.5%
                }

                #introduction [role=content] [role=header],
                #introduction [role=content] [role=subheader] {
                    color: #FFFFFF;
                    text-shadow: 0 0 2px rgba(0, 0, 0, .75)
                }

                /* Logo */
                #introduction [role=content] [role=logo] {
                    display: table-cell;
                    height: 60px;
                    text-align: center;
                    vertical-align: middle;
                    width: auto
                }
                    /* [All] */
                    #introduction [role=content] [role=logo] * {
                        height: 100%;
                        vertical-align: middle;
                        width: auto
                    }

                    #introduction [role=content] [role=logo] * + * { height: 80% }
                #introduction [role=content] [role=logo] + [role=logo] { height: 50px }

                /* Subheader */
                #introduction [role=content] [role=subheader] {
                    font-size: 25px;
                    margin-left: 10%;
                    margin-top: 20px
                }
